
html
  head
    title= title
    link(rel="stylesheet", href="style.css")
  body
    h1= message

  div.container
    form.form-elem(method='post', action='/register')
      div
        label(for='name') Nombre:
        input(type='text', name='name', id='name')
      div
        label(for='email') Email:
        input(type='email', name='email', id='email')
      div
        input(type='submit', value='Registrar')
