

html
    head
        title= title
    body
        h1= message
        h2= title
        form(action='/api/login' method='post')
            input(type='text' name='email' placeholder='Email')
            button(type='submit') Login