
html
    head
        title= title

    body
        h1= message

    img(src="data:image/png;base64," + img)

    form(method='post', action='/validate' name='myForm')
      input(type='hidden', name='idUser', value=idUser)
      div
        label(for='text') Code:
        input(type='text', name='passCode', id='text', required)
      div
        input(type='submit', value='Validar')